.bloque-testimonio {
    border-radius: 30px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: solid 1px #fff;
    padding: 50px;
}

.btn-testimonio {
    margin-top: 15px;
    font-family: Work Sans;
    color: white;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}