.secondary-button {
  border-radius: 35px;
  height: 3rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-family: Work Sans;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 1px solid white;
}

.secondary-button:disabled {
  --tw-border-opacity: 1;
  border-color: rgb(174 174 174 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(174 174 174 / var(--tw-text-opacity));
}

.secondary-button:hover:disabled {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(174 174 174 / var(--tw-text-opacity));
}

.secondary-button:active:disabled {
  --tw-border-opacity: 1;
  border-color: rgb(174 174 174 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(174 174 174 / var(--tw-text-opacity));
}

.secondary-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 120 239 / var(--tw-text-opacity));
}

.secondary-button:active {
  --tw-border-opacity: 1;
  border-color: rgb(0 58 117 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(0 58 117 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}